@import "../../../../../sass/variables"
@import "../../../../../sass/type-default"
@import "../../../../../sass/functions"

.chats-list
    position: relative

.contactList-user, .chats-list
    height: 60px
    width: 100%
    display: flex
    align-items: center
    .user-contactList-photo
        padding-left: 20px

    img
        height: 30px
        align-self: center
        @include set-border(0px, 50%)

    .user-contactList-name
      color: map-get($font-color, 'primary')
      width: 50%
      font:
        size: 14px
        weight: map-get($font-message, 'name-weight')
        style: map-get($font-message, 'name-style')
      padding-left: 20px
      &:hover
        cursor: pointer
        color: white

    .current-contact
        color: white

            

.start-chat
    font-size: 20px
    cursor: pointer

.tab
    display: none

.is-vis-tab.tab
    display: block

.tabs-nav ul
    list-style: none
    text-align: center
    margin: 0

.tabs-nav li
    display: inline-block
    cursor: pointer
    width: 65px
    text-align: center
    font:
        size: 12px
        weight: 200
        style: map-get($font-message, 'name-style')

.tabs-nav
    margin: 5px 0

.tabs-nav a
    color: black
    text-decoration: none

.curr-tab a
    color: white

.tabs-nav li:nth-child(2), .tabs-nav li:nth-child(3)
    margin-left: -3px

.mes-notify
  position: absolute
  right: 5px
  top: 10px
  text-align: center


@media screen and (max-width: 48em)
    .no-vis-contact-list
        left: -100%
        transition: 1s

    .is-vis-contact-list
        left: 0
        transition: 1s
        min-width: 250px

